#nav-contain{
    position: fixed;
    top: 30px;
    right: 0;
    width: 100%;
    height: 40px;
    left: 0;
    z-index: 999;
    padding: 0 0 0 150px;
    display: flex;
}
.btnsign button{
    border: none;
}
#nav-contain  img{
    width: 100px;
    height: 100%;
}
form{
    margin: auto;
    text-align: center;
    width: 250px;
}
form input{
    width: 90%;
    text-align: center;
    margin: 5px 0;
}
#signinbtn{
    width: 90px;
    height: 40px;
    background-color: 
    #ff7043;
    color: white;
    border-radius: 10px;
}
#signupbtn{
    width: 90px;
    height: 40px;
    background-color: 
    #ff7043;
    color: white;
    border-radius: 10px;
}
h1{
    color: #ff7043;
}
#signcss{
    margin-top: 100px;
}
.btnsign{
    width: 200px;
    margin-left: 800px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.sub{
    background-color: #ff7043;
    border: none;
    color: white;
    height: 30px;
    border-radius: 5px;
}
